.newreleases-specific-album-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100vw;
  left: 0px;
  top: 0px;
  background: #181818;
}

.newrelease-page-content {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.newrelease-page-image-container {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  margin-left: 32px;
}

.newreleases-page-poster {
  height: 295px;
  width: 295px;
  border-radius: 8px;
  margin-right: 24px;
}

.newreleases-page-sub-heading {
  font-family: 'Assistant';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  height: 21px;
  width: 95px;
  top: 208px;
  border-radius: null;
  color: #ffffff;
  margin-top: 0px;
}

.newreleases-page-heading {
  font-family: 'Assistant';
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 105px;
  letter-spacing: 0px;
  text-align: left;
  left: 449px;
  top: 233px;
  border-radius: null;
  color: #ffffff;
  margin-top: 0px;
}

.newreleases-page-artist {
  font-family: 'Lato';
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 0px;
  padding-top: 0px;
  color: #ffffff;
}

.orderedlist-newrelease {
  list-style-type: decimal;
}

.new-releases-list-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 100px;
}

.new-heading {
  font-family: 'Assistant';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  width: 250px;
}

.horizontal-line {
  width: 1000px;
  height: 0px;
  left: 130px;
  top: 436px;
  border: 1px solid #475569;
}
