.podcast-page-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100vw;
  left: 0px;
  top: 0px;
  background: #181818;
}

.podcast-playlist-details-container {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  height: 90vh;
  overflow-y: scroll;
}

.tracks-count {
  font-family: 'Lato';
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #64748b;
  margin-top: 0px;
  margin-left: 0px;
}

.new-ordered-list {
  list-style-type: none;
}

.media-player-page {
  display: flex;
  flex-direction: column;
}
