.newrelease-song-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 100px;
}

.newrelease-song-names {
  font-family: 'Assistant';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  width: 250px;
}
